// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #96191f, //#488aff
  secondary:  #231F20, //#32db64
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  ofred:      #96191f,
  ofblack:    #231F20,
  gigsBackground: #eeeeee,
  stageSeebuehne: rgb(84, 132, 237),
  stageHr3: rgb(81, 183, 73),
  stageFreibuehne: rgb(251, 215, 91),
  stage1: rgb(70, 214, 219),
  stage2: rgb(122, 231, 191),
  stage3: rgb(164, 189, 252),
  stage4: rgb(255, 184, 120),
  stage5: rgb(255, 136, 124),
  stage6: rgb(220, 33, 39),
  stage7: rgb(219, 173, 255),
  stage8: rgb(225, 225, 225),
  stage9: rgb(255, 124, 244),
  stage10: rgb(124, 255, 255),
  stage11: rgb(255, 176, 124),
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
