<!--
  Generated template for the ProgrammPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Programm</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="tag">
    <ion-segment-button value="Mittwoch">Mi</ion-segment-button>
    <ion-segment-button value="Donnerstag">Do</ion-segment-button>
    <ion-segment-button value="Freitag">Fr</ion-segment-button>
    <ion-segment-button value="Samstag">Sa</ion-segment-button>
    <ion-segment-button value="Sonntag">So</ion-segment-button>
  </ion-segment>
    <!-- TODO: Create a Template to use for the different Days -->
  <div [ngSwitch]="tag">          
    <ion-list *ngSwitchCase="'Mittwoch'" >
      <ion-list *ngFor="let gig of mittwoch" no-lines>
        <div class="cardTime">
          <div class="begin">{{(gig.begin | formatTimeHhmm)}}</div>
          <div class="split">-</div>
          <div class="end">{{(gig.end | formatTimeHhmm)}}</div>
        </div>
        <ion-card [color]="stageColor(gig.stage)">
          <ion-card-content>
            <div class="cardArtist">{{gig.artist}} - {{gig.stage}}</div>
            <div class="cardStage">{{gig.stage}}</div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-list>
    <ion-list *ngSwitchCase="'Donnerstag'" >
      <ion-list *ngFor="let gig of donnerstag" no-lines>
        <div class="cardTime">
          <div class="begin">{{(gig.begin | formatTimeHhmm)}}</div>
          <div class="split">-</div>
          <div class="end">{{(gig.end | formatTimeHhmm)}}</div>
        </div>
        <ion-card [color]="stageColor(gig.stage)">
          <ion-card-content>
            <div class="cardArtist">{{gig.artist}} - {{gig.stage}}</div>
            <div class="cardStage">{{gig.stage}}</div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-list>
    <ion-list *ngSwitchCase="'Freitag'" >
      <ion-list *ngFor="let gig of freitag" no-lines>
        <div class="cardTime">
          <div class="begin">{{(gig.begin | formatTimeHhmm)}}</div>
          <div class="split">-</div>
          <div class="end">{{(gig.end | formatTimeHhmm)}}</div>
        </div>
        <ion-card [color]="stageColor(gig.stage)">
          <ion-card-content>
            <div class="cardArtist">{{gig.artist}} - {{gig.stage}}</div>
            <div class="cardStage">{{gig.stage}}</div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-list>
    <ion-list *ngSwitchCase="'Samstag'" >
      <ion-list *ngFor="let gig of samstag" no-lines>
        <div class="cardTime">
          <div class="begin">{{(gig.begin | formatTimeHhmm)}}</div>
          <div class="split">-</div>
          <div class="end">{{(gig.end | formatTimeHhmm)}}</div>
        </div>
        <ion-card [color]="stageColor(gig.stage)">
          <ion-card-content>
            <div class="cardArtist">{{gig.artist}} - {{gig.stage}}</div>
            <div class="cardStage">{{gig.stage}}</div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-list>
    <ion-list *ngSwitchCase="'Sonntag'" >
      <ion-list *ngFor="let gig of sonntag" no-lines>
        <div class="cardTime">
          <div class="begin">{{(gig.begin | formatTimeHhmm)}}</div>
          <div class="split">-</div>
          <div class="end">{{(gig.end | formatTimeHhmm)}}</div>
        </div>
        <ion-card [color]="stageColor(gig.stage)">
          <ion-card-content>
            <div class="cardArtist">{{gig.artist}} - {{gig.stage}}</div>
            <div class="cardStage">{{gig.stage}}</div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-list>
  </div>
</ion-content>